#root {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maplibregl-popup .maplibregl-popup-content .maplibregl-popup-close-button {
  background-color: #6d6d6d; /* Change the background color */
  border: none; /* Remove any borders */
  color: white; /* Change text color */
  padding: 0.3rem 1rem 0.3rem 1rem; /* Add some padding */
  border-radius: 10%; /* Make it round */
  cursor: pointer; /* Change the cursor to a pointer */
}

.maplibregl-popup
  .maplibregl-popup-content
  .maplibregl-popup-close-button:hover {
  background-color: #5c5c5c; /* Darker shade on hover */
}

/* Targeting the main geocoder control */
.maplibregl-ctrl-geocoder {
  max-width: 250px;
}

/* Ensure the input field uses full width */
.maplibregl-ctrl-geocoder.maplibregl-ctrl {
  width: 100%; /* Ensure input field uses full width */
}

.maplibregl-ctrl-geocoder--icon,
.maplibregl-ctrl-geocoder--icon-search {
  max-width: 30px;
  max-height: 30px;
}

/* Adjust suggestions wrapper to match the control width */
.suggestions-wrapper {
  width: 100%; /* Change to 100% to ensure it takes the full width of the geocoder */
}
