:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Styling the scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Styling the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Gray color */
  border-radius: 10px; /* Rounded corners */
  min-height: 30px; /* Ensures the thumb is not too tall */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 480px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

label {
  display: block;
}

/*
.maplibregl-ctrl {
  width: 100% !important;
  height: 100%;
}

.maplibregl-ctrl-geocoder {
  width: 80px !important;
  height: 30% !important;
}

.maplibregl-ctrl-geocoder--icon,
.maplibregl-ctrl-geocoder--icon-search {
  width: 20px !important;
  height: 20px !important;
}

.maplibregl-ctrl-geocoder--input {
  font-size: 12px;
}
  */

.formContainer {
  width: 40vw;
  max-width: 600px;

  padding: 0.5rem;
}
.formRow {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.inventoryRow {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.inventoryItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.3em;
  gap: 0.2em;
}

.hasKilos {
  display: flex;
  gap: 1em;
}

.gymName,
.categories,
.equipment,
.count,
.condition,
.comment,
.hasKilos {
  padding: 0.3em;
}

.popup {
  color: black;
  max-width: 400px;
  max-height: 300px;
  min-width: 200px;
  min-height: 100px;
  padding: 1em;
  border-radius: 4px;
  overflow-y: auto;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.appContainer {
  display: flex;
  max-width: 1200px;
}

.approvalContainer {
  padding: 1em;
  max-width: 400px;
  background-color: rgba(85, 85, 85, 0.3);
}

.equipment-item {
  border: 1px solid rgba(68, 68, 68, 0.062);
  padding: 0.5em;
  margin-bottom: 0.2em;
  background-color: #f9f9f9;
}
.inventory-content {
}

.equipment-item-heading {
  font-weight: bolder;
}
.equipment-condition-count {
  display: flex;
  justify-content: space-between;
}

.last-updated {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.instagram {
  text-decoration: none;
  color: #f9f9f9;
}

.instagram:hover {
  color: lightgrey;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
